<mat-toolbar>
  <mat-toolbar-row>
    <span class="toolbar-logo">
      <a (click)="navigateTo('home')">
        <img src="assets/logo.png" alt="Logo" />
      </a>
    </span>

    <span class="spacer"></span>

    <span class="toolbar-links">
      <button mat-button (click)="navigateTo('home')">Home</button>
      <button mat-button (click)="navigateTo('events')">Events</button>
      <button mat-button (click)="navigateTo('gallery')">Gallery</button>
      <button mat-button (click)="navigateTo('contact')">Contact</button>
    </span>

    <span class="spacer"></span>

    <span class="toolbar-login">
      <button mat-button class="login-register-button">Become a Host</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
